@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap");
@-webkit-keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animateScale {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateScale {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.header .navbar, .header .navbar-dark {
  width: 100%;
  background-color: black !important;
}

.header .form-control {
  max-width: 300px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: black;
  border-radius: 0px !important;
}

.header .form-control:focus {
  outline: none !important;
}

.header .input-group-prepend, .header .input-group-text {
  background-color: black !important;
  color: #DAA520 !important;
  border: none !important;
  border-bottom: 1px solid #fff;
}

.header a.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  color: #DAA520 !important;
  text-transform: uppercase;
}

.header a.nav-link span {
  color: #fff;
}

.header a.nav-link span .fa {
  padding-left: 10px;
}

.header a.nav-btn {
  border: 1px solid #fff;
  color: black !important;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
}

.filterMenu {
  background-color: rgba(0, 0, 0, 0.5);
}

.filterMenu .menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0px;
}

.filterMenu .menuList li a {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 3px;
}

.filterMenu .menuList li a:hover {
  text-decoration: none;
}

.filterMenu .menuList li a.active {
  color: #DAA520;
  border: 1px solid #DAA520;
  font-weight: 500;
}

.card {
  background-color: black;
  -webkit-box-shadow: 0 5px 10px rgba(218, 165, 32, 0.4);
          box-shadow: 0 5px 10px rgba(218, 165, 32, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: auto;
  border-radius: 0px;
  width: 200px;
}

.card .card-img {
  height: 300px;
  width: 200px;
}

.card .card-img img {
  height: 100%;
  width: 100%;
}

.card .card-content {
  width: 100%;
}

.card .card-content .movie-content {
  position: relative;
  padding-left: 10px;
}

.card .card-content .movie-content .wishlist-btn {
  top: 10px;
  right: 10px;
  position: absolute;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #DAA520;
}

.card .card-content .movie-content .wishlist-btn .fa {
  color: #fff;
}

.card .card-content .movie-content .movie-title {
  padding-top: 15px;
  color: #fff;
}

.card .card-content .movie-content p {
  color: #fff;
  font-size: 13px;
}

.card .card-content span.card-rating {
  position: absolute;
  left: 7px;
  top: 7px;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #DAA520;
  color: #DAA520;
  background-color: black;
}

.card:hover {
  -webkit-transform: translateY();
          transform: translateY();
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  background-image: url("/bg.jpg");
  overflow-x: hidden;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  width: 100vw;
}

.row {
  margin: 20px 0px;
}
/*# sourceMappingURL=stylesheet.css.map */