@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap');

$font: 'IBM Plex Sans', sans-serif;
$bg-Img: url("/bg.jpg");
$transparent-bg: rgba(black, 0.5);
$light: #fff;
$golden: #DAA520;