@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap');

$font: 'IBM Plex Sans', sans-serif;
$bg-Img: url("/bg.jpg");
$transparent-bg: rgba(black, 0.5);
$dark: black;
$light: #fff;
$golden: #DAA520;
$box-shadow: 0 5px 10px rgba($light,0.4);
// $box-shadow: 0 5px 15px rgba(#DAA520, 0.08);
$btn-shadow: 2px 20px 25px -15px rgba(0, 0, 0, 0.54);