@import 'variables';

.card {
    background-color: $dark;
    box-shadow: $box-shadow;
    border: 1px solid $transparent-bg;
    height: 350px;

    .card-img{
        height: 250px;

        img{
            height: 100%;
            width: 100%;
        }
    }
   

    .card-content {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        width: 100%;
        h5{
            color: $light;
            padding: 10px 5px;
        }
        .card-rating {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 5px;
            border: 1px solid $golden;
            color: $golden;
            background-color: $dark;

        }
        .movie-genre {
            padding-bottom: 10px;
            color: $light;
                line-height: 0.8em;
        }
    }
    
}