@import 'variables';

.card {
    background-color: $dark;
    box-shadow: $box-shadow;
    border: 1px solid $transparent-bg;
    height: 370px;
    border-radius: 0px;

    .card-img{
        height: 250px;

        img{
            height: 100%;
            width: 100%;
        }
    }
   

    .card-content {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        width: 100%;
        .movie-content{
            h5{
                color: $light;
                padding: 10px 5px;
            }
            span{
                margin-bottom: 20px;
                color: $light;
                line-height: 0.8em;
            }
        }
        
        .card-rating {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 5px;
            border: 1px solid $golden;
            color: $golden;
            background-color: $dark;

        }
    }
}