@import 'variables';

.header {
    .nav{
        width: 100%;
        background-color: $dark;
        display: flex;
        justify-content: space-between !important;
        .logo, .nav-items {
            flex: 50%;
        }
    }
    .nav-items {
       display: flex; 
       flex-direction: row;
    }
    a.nav-link {
        display: flex;
        align-items: center;
        margin-left: 12px;
        color: $golden !important;
        text-transform: uppercase;
        span {
            
            color: $light;
            .fa {
                padding-left: 10px;
            }
        }
        .menu-text {
            color: $golden;
        }
    }
    a.nav-btn {
        border: 1px solid $light;
        color: $dark !important;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 80px;
        height: 40px;
        border-radius: 20px;
        background-color: $light;
    }
}

@media screen and (max-width: 600px){
    a.nav-link {
        span { 
            color: $golden;
            .fa {
                padding-left: 10px;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $light;
                border-radius: 50%;
                color: $golden;

            }
        }
        .menu-text {
            display: none;
        }
    }
}