@import 'variables';

.header {
    .navbar, .navbar-dark {
        width: 100%;
        background-color: $dark !important;
    }
    .form-control {
        max-width: 300px;
        outline: none;
        border: none;
        border-bottom: 1px solid $light;
        background-color: $dark;

        &:focus{
            outline: none !important;
        }
    }
    .input-group-prepend, .input-group-text{
        background-color: $dark !important;
        color: $golden !important;
    }
    a.nav-link {
        display: flex;
        align-items: center;
        margin-left: 12px;
        color: $golden !important;
        text-transform: uppercase;
        span {
            
            color: $light;
            .fa {
                padding-left: 10px;
            }
        }
    }
    a.nav-btn {
        border: 1px solid $light;
        color: $dark !important;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 80px;
        height: 40px;
        border-radius: 20px;
        background-color: $light;
    }
}