@import 'variables';

.hero-slide {
    position: relative;

    .dark-img {
        background-image: url("/images/bright.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    img {
        filter: brightness(50%);
    }
    .movie-features {
        position: absolute;
        top: 40%;
        left: 10%;

        .title {
            color: $light;
            font-weight: 700;
            font-family: $font;
            font-size: 80px;
            line-height: 100px;
        }
        dd {
            color: $light;
            line-height: 20px;
            font-family: $font;
            font-weight: 300;
        }
        .stars {
            *{
                color: $golden;
                font-size: 50px;
                line-height: 60px;
                text-shadow: $box-shadow;
            }
        }
    }

}