@import 'variables';

.hero-slide {
    position: relative;

    .uk-slideshow-items{
        position: relative;
            
            img {
                filter: brightness(80%) !important;
                height: 100%;
                width: 100%;
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                background-position: center;
            }
    
            .img-overlay{
                height: 100%;
                width: 100%;
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                z-index: 999;
            }
        
    }

    .uk-slideshow-items:after {
        position: absolute;
        content:"";
        height:100%;
        width:100%;
        top:0;
        left:0;
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 10%,rgba(0, 0, 0, 1) 90%);
    }
    
    .movie-features {
        position: absolute;
        top: 40%;
        left: 10%;

        .title {
            color: $light;
            font-weight: 700;
            font-family: $font;
            font-size: 80px;
            line-height: 100px;
        }
        dd {
            color: $light;
            line-height: 20px;
            font-family: $font;
            font-weight: 300;
            
        }
        .stars {
            *{
                color: $golden;
                font-size: 50px;
                line-height: 60px;
                text-shadow: $box-shadow;
            }
        }
        .category {
            color: $light;
            line-height: 20px;
            padding: 5px 0px;
        }
    }

}

@media screen and (max-width:600px){

    .movie-features {
        position: absolute;
        top: 30%;
        left: 10%;

        .title {
            
            font-size: 50px;
            line-height: 70px;
        }
        dd {
            line-height: 16px;
            padding: 5px 7px;
        }
        .stars {
            *{
                color: $golden;
                font-size: 40px;
                line-height: 60px;
                text-shadow: $box-shadow;
            }
        }
        .category {
            color: $light;
            line-height: 20px;
            padding: 5px 0px;
            font-size: 18px;
        }
    }

}