@import 'variables';

.filterMenu {
    background-color: $transparent-bg;

    .menuList {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 20px 0px;

        li {
            a {
                color: $light;
                font-family: $font;
                font-size: 20px;
                border: 1px solid $light;
                padding: 10px;
                border-radius: 3px;

                &:hover {
                    text-decoration: none;
                }

                &.active{
                    color: $golden;
                    border: 1px solid $golden;
                    font-weight: 500;
                }
            }

        }

    }

}

@media screen and (max-width:600px){
    .filterMenu {
        background-color: $transparent-bg;
        margin: 20px 0;
    
        .menuList {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            
            
    
            li {
                margin-right: 7px;
                a {
                    color: $light;
                    font-family: $font;
                    font-size: 12px;
                    border: 1px solid $light;
                    padding: 5px;
                    border-radius: 3px;
    
                    &:hover {
                        text-decoration: none;
                    }
    
                    &.active{
                        color: $golden;
                        border: 1px solid $golden;
                        font-weight: 500;
                    }
                }
    
            }
    
        }
    
    }
}