@import 'variables';

.card-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $light;
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0px;
}

.goBtn {
    background-color: $golden;
    color: $dark;
    outline: none;
    border: 1px solid $golden;
}