@import 'variables';

.uk-modal-dialog {
    background-color: rgba(0,0,0, 0.5) !important;
}

.uk-modal-close-full{
    background-color: transparent !important;
    color: white !important;
}

.form-control, .input-group-text {
    background-color: $transparent-bg;
    border: 0;
    border-bottom: 2px solid $light;
    border-radius: 0;
    color: $light;
    padding: 2px 5px;

    &:focus-within {
        border: 0;
        outline: none;
        outline-color: $transparent-bg !important;
        border-radius: 0;
    }
}
.input-group-text {
    color: $golden;
}
