@import 'variables';
@import 'animations';
@import 'header';
@import 'hero';
@import 'menu';
@import 'cards';
@import 'footer';
@import 'login';
@import 'movieInfoCard';
@import 'movieCast';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body{
    background-image: $bg-Img;
    overflow-x: hidden !important;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main {
    width: 100vw;
}
.row {
    margin: 20px 0px;
}
