@import 'variables';
@import 'header';
@import 'hero';
@import 'menu';
@import 'cards';
@import 'footer';

body{
    background-image: url("bg.jpg");
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.main {
    margin:0px 5%;
}
